<nav class="navbar navbar-expand-md navbar-light bg-light">

    <a class="navbar-brand" href="/">Brand</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/shopping-cart">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart
                    <span class="badge badge-pill badge-dark"">{{session.cart.totalQty}}</span>
                </a>
            </li>
            {{# if login }}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> User Management
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/user/profile"><i class="fa fa-user" aria-hidden="true"></i> User Account</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/user/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
                </div>
            </li>
            {{ else }}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> User Management
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="nav-link" href="/user/signup"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign up</a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link" href="/user/signin"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign in</a>
                </div>
            </li>
            {{/if}}
        </ul>
    </div>
</nav>