{{# each products }}
    <div class="row">
        <div class="card-items mt-3 mb-3">
            {{# each this}}
            <div class="col-xs-12 col-sm-6 col-lg-4 mb-4">
                <div class="card shadow-sm">
                    <img src="{{ this.imagePath }}"
                        class="card-img-top img-thumbnail" alt="Gothic 3">
                    <div class="card-body">
                        <div class="card-content">
                            <h5 class="card-title">{{ this.title }}</h5>
                            <p class="card-text mb-3">{{ this.description }}</p>
                        </div>
                        <div class="card-foot">
                            <span class="price">${{ this.price }}</span>
                            <a href="#" class="btn btn-success">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
{{/each}}

{{!-- <div class="row">
    <div class="card-items mt-3 mb-3">
        <div class="col-xs-12 col-sm-6 col-lg-4 mb-4">
            <div class="card shadow-sm">
                <img src="https://upload.wikimedia.org/wikipedia/uk/8/82/Gothic_III_game_boxart.jpg"
                    class="card-img-top img-thumbnail" alt="Gothic 3">
                <div class="card-body">
                    <div class="card-content">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text mb-3">Some quick example text to build on the card title and make up the bulk of the
                            card's
                            content.</p>
                    </div>
                    <div class="card-foot">
                        <span class="price">$29</span>
                        <a href="#" class="btn btn-success">Add</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4 mb-4">
            <div class="card shadow-sm">
                <img src="https://upload.wikimedia.org/wikipedia/ru/7/75/Grand_Theft_Auto_San_Andreas.jpg"
                    class="card-img-top img-thumbnail" alt="GTA San Andress">
                <div class="card-body">
                    <div class="card-content">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text mb-3">Some quick example text to build on the card title and make up the bulk of the
                            card's
                            content.</p>
                    </div>
                    <div class="card-foot">
                        <span class="price">$29</span>
                        <a href="#" class="btn btn-success">Add</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4 mb-4">
            <div class="card shadow-sm">
                <img src="https://upload.wikimedia.org/wikipedia/ru/0/0d/Cod2cover.jpg" class="card-img-top img-thumbnail"
                    alt="Call of Duty 2">
                <div class="card-body">
                    <div class="card-content">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text mb-3">Some quick example text to build on the card title and make up the bulk of the
                            card's
                            content.</p>
                    </div>
                    <div class="card-foot">
                        <span class="price">$29</span>
                        <a href="#" class="btn btn-success">Add</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4 mb-4">
            <div class="card shadow-sm">
                <img src="https://upload.wikimedia.org/wikipedia/uk/8/82/Gothic_III_game_boxart.jpg"
                    class="card-img-top img-thumbnail" alt="Gothic 3">
                <div class="card-body">
                    <div class="card-content">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text mb-3">Some quick example text to build on the card title and make up the bulk of the
                            card's
                            content.</p>
                    </div>
                    <div class="card-foot">
                        <span class="price">$29</span>
                        <a href="#" class="btn btn-success">Add</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4 mb-4">
            <div class="card shadow-sm">
                <img src="https://upload.wikimedia.org/wikipedia/ru/7/75/Grand_Theft_Auto_San_Andreas.jpg"
                    class="card-img-top img-thumbnail" alt="GTA San Andress">
                <div class="card-body">
                    <div class="card-content">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text mb-3">Some quick example text to build on the card title and make up the bulk of the
                            card's
                            content.</p>
                    </div>
                    <div class="card-foot">
                        <span class="price">$29</span>
                        <a href="#" class="btn btn-success">Add</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4 mb-4">
            <div class="card shadow-sm">
                <img src="https://upload.wikimedia.org/wikipedia/ru/0/0d/Cod2cover.jpg" class="card-img-top img-thumbnail"
                    alt="Call of Duty 2">
                <div class="card-body">
                    <div class="card-content">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text mb-3">Some quick example text to build on the card title and make up the bulk of the
                            card's
                            content.</p>
                    </div>
                    <div class="card-foot">
                        <span class="price">$29</span>
                        <a href="#" class="btn btn-success">Add</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> --}}

